* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.backgroundimage1 {
    background-image: url(./image/huxuan-cao.jpg);
    background-size: cover;
    height: 100px;
    background-position: bottom center;
}

.backgroundimage2 {
    background-image: url(./image/huxuan-cao.jpg);
    background-size: cover;
    padding-bottom: 50px;
}

.backgroundimage3 {
    background-image: url(./image/huxuan-cao.jpg);
    background-size: cover;
    height: 100px;
    background-position: top center;
}

.rotate {
    transform: rotate(45deg);
    margin-top: -12px;
    margin-left: 154px;
}

.rotate2 {
    transform: rotate(45deg);
    margin-top: -12px;
    margin-left: 213px;
}

.rotate3 {
    transform: rotate(45deg);
    margin-top: -12px;
    margin-left: 223px;
}

.backgroundproject {
    background: url(./image/grossgasteiger.jpg) ;
    background-size: cover;
    position: relative;
    padding-bottom: 50px;
    width: 100%;
}

.bgcolor {
    position: absolute;
    background-color: rgba(137, 43, 226, 0.616);
    opacity: 50%;
    height: 600px;
    width: 100%;
}

.rounded-circle {
    /* width: 300px; */
    clip-path: circle();
}

.bgbox {
    background-color: #842DCE;
    padding: 20px;
}

.arrow {
    background-color: #842DCE;
    position: absolute;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    top: 480px;
    left: 560px;
}

.carousel-indicators {
    top: 580px;
}

.latestnews {
    background-color: #033E3E;
    height: auto;
    padding-bottom: 25px;
    width: 100%;
}

.backgroundyellow {
    background: url(./image/background\ yellow.jpg) ;
    background-size: cover;
    position: relative;
    height: 175px;
    width: 100%;
}

.bgyellow {
    position: absolute;
    background-color: gold;
    opacity: 75%;
    height: 175px;
    width: 100%;
    z-index: 1;
}

.textheight {
    font-size: 60px;
}

.index {
    position: relative;
    z-index: 2;
    height: 175px;
    align-items: center;
}

.verticalrule {
    width: 5px;
    align-self: center;
    position: relative;
    z-index: 3;
    opacity: 100%;
    height: 100px;
}

.verticalrule2 {
    width: 5px;
    align-self: center;
    opacity: 100%;
    height: 70px;
}

.footer {
    background-color: #2C3539;
}

.skillbar {
    height: 14px;
    background: #D3D3D3;
    border-radius: 3px;
}

.skillpercent1 {
    height: 14px;
    background: red;
    border-radius: 3px;
    position: relative;
    animation: fillbars 5s 1;
}

.skillpercent1::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: red;
    border-radius: 4px;
    font-size: 14px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
    color: white;
}

.skillpercent1::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: red;
    top: -11px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

.skillpercent2 {
    height: 14px;
    background: gold;
    border-radius: 3px;
    position: relative;
    animation: fillbars 5s 1;
}

.skillpercent2::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: gold;
    border-radius: 4px;
    font-size: 14px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
    color: white;
}

.skillpercent2::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: gold;
    top: -11px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

.skillpercent3 {
    height: 14px;
    background: green;
    border-radius: 3px;
    position: relative;
    animation: fillbars 5s 1;
}

.skillpercent3::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: green;
    border-radius: 4px;
    font-size: 14px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
    color: white;
}

.skillpercent3::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: green;
    top: -11px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}